<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizaike.passport.dao.PasswordLogMapper">
	<resultMap id="BaseResultMap" type="com.zizaike.passport.entity.PasswordLog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="operation" property="operation" typeHandler="com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler" />
		<result column="channel" property="channel"
			typeHandler="com.zizaike.passport.dao.handler.ChannelTypeHandler" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="status" property="status"
			typeHandler="com.zizaike.passport.dao.handler.OperateStatusHandler" />
		<result column="error_code" property="errorCode" jdbcType="VARCHAR" />
		<result column="reason" property="reason" jdbcType="VARCHAR" />
		<result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, operation, channel, ip, password,status, error_code, reason,
		create_at
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_password_log
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_password_log
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zizaike.passport.entity.PasswordLog">
		insert into t_password_log (id, user_id, operation,
		channel, ip, password ,status,
		error_code, reason, create_at
		)
		values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{operation,javaType=com.zizaike.entity.passport.domain.UpdatePasswordOpreateType,typeHandler=com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler},
		#{channel,javaType=com.zizaike.entity.passport.domain.ChannelType,typeHandler=com.zizaike.passport.dao.handler.ChannelTypeHandler},
		#{ip,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{status,javaType=com.zizaike.entity.passport.domain.OperateStatus,typeHandler=com.zizaike.passport.dao.handler.OperateStatusHandler},
		#{errorCode,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
		#{createAt,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zizaike.passport.entity.PasswordLog">
		insert into t_password_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="operation != null">
				operation,
			</if>
			<if test="channel != null">
				channel,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="errorCode != null">
				error_code,
			</if>
			<if test="reason != null">
				reason,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="operation != null">
				#{operation,javaType=com.zizaike.entity.passport.domain.UpdatePasswordOpreateType,typeHandler=com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler},
			</if>
			<if test="channel != null">
				#{channel,javaType=com.zizaike.entity.passport.domain.ChannelType,typeHandler=com.zizaike.passport.dao.handler.ChannelTypeHandler},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,javaType=com.zizaike.entity.passport.domain.OperateStatus,typeHandler=com.zizaike.passport.dao.handler.OperateStatusHandler},
			</if>
			<if test="errorCode != null">
				#{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zizaike.passport.entity.PasswordLog">
		update t_password_log
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="operation != null">
				operation =#{operation,javaType=com.zizaike.entity.passport.domain.UpdatePasswordOpreateType,typeHandler=com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler},
			</if>
			<if test="channel != null">
				channel = #{channel,javaType=com.zizaike.entity.passport.domain.ChannelType,typeHandler=com.zizaike.passport.dao.handler.ChannelTypeHandler},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status =
				#{status,javaType=com.zizaike.entity.passport.domain.OperateStatus,typeHandler=com.zizaike.passport.dao.handler.OperateStatusHandler},
			</if>
			<if test="errorCode != null">
				error_code = #{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="reason != null">
				reason = #{reason,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zizaike.passport.entity.PasswordLog">
		update t_password_log
		set user_id = #{userId,jdbcType=INTEGER},
		operation = #{operation,javaType=com.zizaike.entity.passport.domain.UpdatePasswordOpreateType,typeHandler=com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler},
		channel = #{channel,javaType=com.zizaike.entity.passport.domain.ChannelType,typeHandler=com.zizaike.passport.dao.handler.ChannelTypeHandler},
		ip = #{ip,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		status = #{status,javaType=com.zizaike.entity.passport.domain.OperateStatus,typeHandler=com.zizaike.passport.dao.handler.OperateStatusHandler},
		error_code = #{errorCode,jdbcType=VARCHAR},
		reason = #{reason,jdbcType=VARCHAR},
		create_at = #{createAt,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<insert id="save" parameterType="com.zizaike.passport.entity.PasswordLog">
		insert into t_password_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="operation != null">
				operation,
			</if>
			<if test="channel != null">
				channel,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="password != null">
				password
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="errorCode != null">
				error_code,
			</if>
			<if test="reason != null">
				reason,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="operation != null">
				#{operation,javaType=com.zizaike.entity.passport.domain.UpdatePasswordOpreateType,typeHandler=com.zizaike.passport.dao.handler.UpdatePasswordOpreateTypeHandler},
			</if>
			<if test="channel != null">
				#{channel,javaType=com.zizaike.entity.passport.domain.ChannelType,typeHandler=com.zizaike.passport.dao.handler.ChannelTypeHandler},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,javaType=com.zizaike.entity.passport.domain.OperateStatus,typeHandler=com.zizaike.passport.dao.handler.OperateStatusHandler},
			</if>
			<if test="errorCode != null">
				#{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="reason != null">
				#{reason,jdbcType=VARCHAR},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
</mapper>