<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   
    
   <dubbo:service interface="com.zizaike.is.passport.RegisterService" version="1.0.0" ref="registerService"  group="${dubbo.group}" />  
	<bean id="registerService" class="com.zizaike.passport.service.impl.RegisterServiceImpl" />
   <dubbo:service interface="com.zizaike.is.passport.LoginService" version="1.0.0" ref="loginService"  group="${dubbo.group}" />  
	<bean id="loginService" class="com.zizaike.passport.service.impl.LoginServiceImpl" />
   <dubbo:service interface="com.zizaike.is.passport.LogoutService" version="1.0.0" ref="logoutService"  group="${dubbo.group}" />  
	<bean id="logoutService" class="com.zizaike.passport.service.impl.LogoutServiceImpl" />
   <dubbo:service interface="com.zizaike.is.passport.PasswordService" version="1.0.0" ref="passwordService"  group="${dubbo.group}" />  
	<bean id="passwordService" class="com.zizaike.passport.service.impl.PasswordServiceImpl" />
	
</beans>